@import "../../layout/variables";
@import "../../layout/mixins";


.add-modal,
.edit-modal{
  .paper-wrapper {
    min-height: 1150px;
  }

  .paper{
    width: 750px;
    .modal-body {
      padding: $px-24 $px-30;
      color: rgba(0, 0, 0, 0.6);
  
      p{
        line-height: 1.6;
        margin: 8px 0;
      }
  
      .code{
        color: $avocado-green;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 20px;
      }
  
      .MuiButton-root{
        font-weight: 400;
        font-size: 17px;
        margin-top: 6px;
      }

      .form-control{
        width: 100%;
        margin-bottom: $px-16;
      }
      .group-label{
        font-size: 17px;
        color: $dark-purple;
        margin: 0;
        text-align: left;
      }

      .time-inputs{
        margin-top: 5px;
        display: flex;
        align-items: center;
        .form-control + .form-control{
          margin-left: 20px;
        }
      }

      .upload-form{
        align-items: start;
        margin-bottom: $px-16;
        position: relative;
        padding-bottom: $px-20;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        .faded-container{
          min-height: 140px;
        }
  
        .dropzone-wrapper{
          position: relative;
          width: 100%;
  
          .additional-text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            font-size: $px-14;
            font-weight: 500;
            padding-top: 62px;
            margin: 0;
            pointer-events: none;
          }
        }
  
        .drop-image{
          min-height: 140px;
          position: relative;
  
          &.error,
          &.error:hover{
            border-color: $red;
          }
  
          &:hover{
            background-image: none;
            border-color: rgba(0, 0, 0, 0.87);
          }
  
          .MuiDropzoneArea-textContainer{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            pointer-events: none;
  
            p{
              font-size: 15px;
              margin: 0;
              font-weight: 400;
            }
            svg{
              width: 35px;
              height: 35px;
              opacity: 0.5;
            }
          }
  
          .priview-container{
            width: 100%;
            height: 100%;
            margin: 0;
            display: block;
            position: absolute;
  
            .priview-item{
              padding: 0;
              width: 98%;
              max-width: none;
              position: relative;
              margin: 0 auto;
              top: 50%;
              transform: translateY(-50%);
              background-color: $white;
  
              &:hover{
                img{
                  opacity: 1;
                }
              }
              
              img{
                height: 120px;
                vertical-align: middle;
                border-radius: 0;
                box-shadow: none;
              }
              button{
                opacity: 1;
                top: auto;
                right: 12px;
                bottom: 2px;
                box-shadow: none;
  
                svg{
                  fill: rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
        }
      }

      .directions-inputs,
      .ingredients-inputs{
        max-height: 198px;
        min-height: 130px;
        overflow-y: auto;
        background: rgba(0,0,0, .04);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 14px;
        margin-top: 5px;
        .box{
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .repeat{
          align-items: center;
          display: flex;
        }

        .MuiFormGroup-root{
          margin-left: 20px
        }

        .form-control + .form-control{
          margin-left: 10px;
        }

        .form-control{
          margin-bottom: 0;
          .MuiInputBase-input{
            background: $white;
          }
        }

        .MuiFormControlLabel-label{
          font-size: 15px;
        }

        .remove-btn-container{
          margin-left: 10px;
        }

        .btn-remove{
          border: 1px solid $dark-purple;
          padding: 0;
        }

        .btn-add{
          border: 1px solid $avocado-green;
          padding: 0;
          margin-top: 10px;
        }
      }

      .action-group{
        margin-top: 20px;
        margin-bottom: 10px;
        button{
          min-width: 120px;
        }
        button + button{
          margin-left: 20px;
        }

        .btn-submit{
          text-transform: none;
          font-weight: 400;
          position: relative;
      
          .text{
            position: relative;
            right: 0;
            transition: right .4s ease-in-out;
          }
      
          &.Mui-disabled .text{
            right: 12px;
          }
          
          .loader{
            position: relative;
            top: 1px;
            right: 5px;
          }
      
          &.MuiButton-contained.Mui-disabled{
            color: rgba($white, 0.8);
            background-color: lighten($black, 72%)
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .paper-wrapper {
      min-height: 1300px;
    }
    .paper{
      width: 90%;
      margin: 0 auto;

      .modal-body {
        .time-inputs{
          flex-direction: column;
          .form-control + .form-control{
            margin-left: 0;
          }
        }

        .directions-inputs,
        .ingredients-inputs{
          max-height: 250px;

          .repeat{
            flex-direction: column;
          }
          .form-control{
            margin-bottom: 4px;
          }
          .form-control + .form-control{
            margin-left: 0;
          }
          .remove-btn-container{
            margin-left: 0;
          }
        }
      }
    }
  }
  

  @media (max-width: 600px) {
    .paper{
      .modal-body {
        padding: $px-24 $px-30;

        p{
          font-size: 14px;
        }

        .code{
          font-size: 18px;
        }

        .MuiButton-root{
          font-size: 15px;
        }

        .action-group{
          button{
            min-width: 100px;
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
    .paper{
      .modal-body {
        padding: $px-18 $px-20;

        .form-control{
          margin-bottom: 12px;
        }
      }
    }
  }
}