@import "../../layout/variables";
@import "../../layout/mixins";

.all-recipes-page{

  .action-group{
    display: flex;
    margin-bottom: 26px;
  }

  .search-bar{
    background: $white;
    box-shadow: 0 0 16px rgba(0, 0, 0, .12);
    border-radius: 4px;
    position: relative;
    width: 100%;
    transition: box-shadow 0.2s ease-in-out, backgroun-color 0.2s ease-in-out;
  
    &.focus{
      box-shadow: 0 0 6px rgba(0, 0, 0, .12);
      // background-color: darken($white, 2%);
    }

    .search-icon {
      height: 100%;
      display: flex;
      padding: 0 15px;
      position: absolute;
      align-items: center;
      pointer-events: none;
      justify-content: center;
      svg{
        fill: $dark-purple
      }
    }

    .input-root{
      width: 100%;
    }

    .input-input {
      padding: 25px 10px 25px 50px;
      font-size: $px-16;
      font-weight: 300;
      line-height: 1.75;
      color: rgba(0,0,0, 1);
      width: 100%;
    }
  }

  .button-group{
    display: flex;

    .btn-common{
      margin-left: 20px;
      min-width: 120px;
      box-shadow: 0 0 12px rgba(0, 0, 0, .12);
      font-size: 16px;
      font-weight: 400;
    }
  }

  @media (max-width: 600px) {
    .action-group{
      flex-direction: column;
    }

    .button-group{
      margin: 20px auto 0;
      text-align: center;

      .btn-common{
        font-size: 14px;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}